{
    "LaserSetupPort": "COM1",
    "LaserControlPort": "COM2",
    "KosaPort": "COM3",
    "PortTimeoutMs": 100,
    "VerticalStep": 100,
    "ResonatorsPlacement": [
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 },
        { "Xcenter": 0, "Ycenter": 0, "Width": 10, "Height": 10 }
    ]
}